<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue </title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./vue-js/axios.min.js"></script>

</head>
<body>
<div id="aa">
    <div>{{site}}</div>
    <div>一共点击了  {{clickNumber}}次</div>
    <button @click="count">点击</button>
    <button @click="aa()"> ajax </button>
    <button @click="bb()">bb</button>


    <form>

       <input type="checkbox" value="a0" v-model="checkName" ><label>选项1</label>            
        <input type="checkbox" value="a1" v-model="checkName"><label>选项2</label>
        <input type="checkbox" value="a2" v-model="checkName"><label>选项3</label>
        <input type="checkbox" value="a3" v-model="checkName"><label>选项4</label>

        <br>

        <input type="text" value="11" v-model="name" placeholder="请输入用户名">
        <input type="text" value="22" v-model="age" placeholder="请输入年龄">
        <input type="file" @change="getFile($event)">
        <button @click="submitForm($event)">提交</button>
    </form>
    <br>
    {{checkName}}


</div>
<script type="text/javascript">
    new Vue({
        el: '#aa',
        data: {
            name:"8",
            age:"",
            file:"",
            site: "123",
            clickNumber:0,
            url:"/vue",
            checkName:[]

        },

        methods: {
            getFile(event) {
                this.file = event.target.files[0];
                console.log(this.file);
            },
            submitForm(event) {
                event.preventDefault();
                let formData = new FormData();
                formData.append('name', this.name);
                formData.append('age', this.age);
                formData.append('file', this.file);
                formData.append('checkName',this.checkName);

                //formData.


                console.log("data->",formData,this.name);

                axios({
                    method: 'POST',
                    url: this.url,
                    //url: '/vue',
                    headers: {
                        //'Content-Type': 'text/html;charset=utf-8',
                        'enctype': 'multipart/form-data',
                    },
                     data:formData

                }).then(function (res) {
                    console.log("data",res.data);
                    return res;
                });




            }

            ,//


            count: function(){
                this.clickNumber++;
                //this.aa();

            },
            bb(){
                this.site="66666";
                console.log(this.site);
            },
            aa(){
                var pp;
                pp=axios({
                    //method: 'POST',
                    method: 'GET',
                    url: this.url,
                    //url: '/vue',
                    headers: {
                        'Content-Type': 'text/html;charset=utf-8',
                    },
                   // data:mydata

                }).then(function (res) {
                    console.log("data",res.data);
                    return res;
                });
                    console.log("pp--->",pp);



                //axios.get(this.url).then((res)=>{this.site=res.data});

                //


            }

        },

    })
</script>
</body>
</html>